// SASS IMPORTS
@import bootstrap-sprockets
@import bootstrap
@import font-awesome-sprockets
@import font-awesome 

// CUSTOM STYLES
.well.white-bg
  background-color: #ffffff

.alert-notice, .alert-alert
  background-color: #fcf8e3
  border-color: #faebcc
  color: #8a6d3b

// Users' profile page styles
.avatar
  img
    border-radius: 3px

.user-show-avatar
  height: auto
  width: 128px

.user-index-avatar
  border-radius: 50%
  
.profile
  h1, h3
    margin-top: 0
    
.job-title-icon
  width: 30px
  height: 30px
  border: 2px solid #46b8da
  display: inline-block
  border-radius: 4px
  background-color: #5bc0de
  color: #fff
  text-align: center

.well.profile-description
  margin-top: 50px
  color: #ffffff
  border-color: #222
  background-color: #333
  h3
    margin-top: 0
    
.well.contact-info
  background-color: #5bc0de
  border-color: #46b8da
  color: #fff
  h3
    margin-top: 0
  